pandas ;genel anlamıyla data framelerle çalışmak için kullanılan bir library.pandasla verileri analiz edeceğiz,istatistiksel teorilere dayalı sonuçlar çıkaracağız,temizleyeceğiz ve işleyeceğiz.

In [5]:
import pandas as pd

pandas deyince iki tane tip aklımıza gelecek.
1-) series
2-)  DataFrames (df)

df 'ler satır ve sütunlardan oluşur numeric, kategorik sütunlar olabilir
series'lar ise tek bir sütundan oluşur.
yani -----> Series bir sütun gibidir, DataFrame tüm tablodur.yani df: series + n(series) 'dan oluşur

## Series

Herhangi bir türden veriyi tutan tek boyutlu bir arraydir.
Bir series birden çok sütun içeremez
pd.series() yapıp shift+tabtab ile alabileceği argümanlara vs. bakılabilir

In [8]:
a = [1, 7, 2]
b = pd.Series(a)                     #### S BÜYÜK HARF dikkat edelim.
                  ####pd.Series(data = a) da yazabilirdik ama zaten ilk parametre data olduğundan yazmadık
b

0    1
1    7
2    2
dtype: int64

Hatırlarsak numpy array'leri içerisine tek tip veri alıyordu biz birden fazla veri tipi koymaya çalışırsak arka planda kendisi en kapsayıcı veri tipi hangisiyse bütün verileri ona çeviriyordu.pd.Series'lerde durum ne peki ?

In [78]:
w= [1, 7, "a",True,None]
k = pd.Series(w)                     
k

0       1
1       7
2       a
3    True
4    None
dtype: object

In [100]:
type(k)

pandas.core.series.Series

In [79]:
type(k[3])

bool

In [80]:
type(k[2])

str

demek ki birden fazla farklı tipteki verilerle ben bir pandas.series oluşturabiliyorum.

## LABLES (ETİKET) -----> index

Başka bir şey belirtilmemişse, değerler indeks numaralarıyla etiketlenir.

In [104]:
a = [1, 7, 2]
b = pd.Series(a)                        
b

0    1
1    7
2    2
dtype: int64

Etiketlemeye neden ihtiyaç var ? - belirli bir değere erişmek için

In [11]:
b[0]

1

In [17]:
 # b[-1]  # olmuyor dikkat edersek key error alıyorum  en aşağıda

In [15]:
b[2]

2

In [102]:
dersler = {"day1": "python", 
           "day2":"istatistik", 
           "day3": "html"}
dic_Series= pd.Series(dersler)
dic_Series

day1        python
day2    istatistik
day3          html
dtype: object

Sözlüğün keyleri labellar haline gelir. yani 0----- day1:python gibi bir şey yok burada

## peki ben başka bir şeyle etiketleme yapabilir miyim ?

In [18]:
a = [1, 7, 2]
b = pd.Series(a,index = ["x","y","z"])                     
b

x    1
y    7
z    2
dtype: int64

başka bir şeyle etiketleme yaparken:
1-) array-like bir object olacak
2-) etiketleme yapacağımız data ile array-like objectimiz aynı uzunlukta olacak burada dictlerde farklı bir durum var

aynı label'ı kullandığımda hata verir mi ?

In [19]:
a = [1, 7, 2]
b = pd.Series(a,index = ["x","y","x"])                     
b

x    1
y    7
x    2
dtype: int64

In [20]:
a = [1, 7, 2]
b = pd.Series(a,index = ["x","y",None])                     
b

x      1
y      7
NaN    2
dtype: int64

baştaki örneğimizi tekrar kopyalayalım

In [33]:
e = [1, 7, 2]
f = pd.Series(a,index = ["x","y","z"])                     
f

x    1
y    7
z    2
dtype: int64

ben label'ı değiştirdim peki şu artık çalışır mı ?

In [36]:
f[2]

2

In [38]:
f["z"]                   # ikisi de çalışıyor

2

dictlerde farklı bir durum var demiştik. dictlerde elimdeki data ile series oluşturcaksam eğer datadaki bazı şeyleri istemiyorsam almayabiliyorum hani demiştik ya etiketleme yapacağımız data ile etiketleme objemiz aynı uzunlukta olacak diye işte dictlerde böyle bir zorunluluk yok

In [103]:
dersler = {"day1": "python", "day2":"istatistik", "day3": "html"}
dic_Series= pd.Series(dersler,index=["day1","day2"])
dic_Series

day1        python
day2    istatistik
dtype: object

bir numpy dizisi ile de ben pandas series oluşturabilirim.

In [105]:
import numpy as np

In [106]:
n = np.random.randint(1,50,3)
n

array([28, 42, 22])

In [107]:
pnd_Serie = pd.Series(data=n)
pnd_Serie

0    28
1    42
2    22
dtype: int32

In [108]:
pnd_Serie = pd.Series(data=n,index=["num1","num2","num3"])
pnd_Serie

num1    28
num2    42
num3    22
dtype: int32

## Series'de aritmetik işlemler

In [113]:
ilk_puanlar = [3,1,1,0]
takimlar = ["madrid","arsenal","chelsea","liverpool"]

In [114]:
ilkmaclar = pd.Series(data=ilk_puanlar,index=takimlar)
ilkmaclar

madrid       3
arsenal      1
chelsea      1
liverpool    0
dtype: int64

In [115]:
ikinci_puanlar = [1,1,1,1]

In [116]:
ikincimaclar = pd.Series(data=ikinci_puanlar,index=takimlar)
ikincimaclar

madrid       1
arsenal      1
chelsea      1
liverpool    1
dtype: int64

ben ilk maçlar ve ikinci maçlar sonucunda oluşan toplam puan durumunu nasıl görebilirim ?

In [117]:
type(ilkmaclar)

pandas.core.series.Series

In [118]:
type(ikincimaclar)

pandas.core.series.Series

In [119]:
ilkmaclar + ikincimaclar

madrid       4
arsenal      2
chelsea      2
liverpool    1
dtype: int64

demek ki iki series'ı kolaylıkla toplayabiliyoruz ve diğer *,/,- işlemlerini de yapabiliyoruz.

In [122]:
ilkmaclar - ikincimaclar

madrid       2
arsenal      0
chelsea      0
liverpool   -1
dtype: int64

peki diyelim ki ben puanları hesaplıycam ama series'im tam olarak uymuyor yine de toplama yapabilir miyim ?

In [128]:
ilk_puanlar = [3,1,1,0]
takimlar = ["madrid","arsenal","chelsea","liverpool"]
takimlar2 =["madrid","arsenal","barcelona","milan"]
ikinci_puanlar = [1,1,3,3]

In [129]:
mac1 = pd.Series(data=ilk_puanlar,index=takimlar)
mac1

madrid       3
arsenal      1
chelsea      1
liverpool    0
dtype: int64

In [130]:
mac2 = pd.Series(data=ikinci_puanlar,index=takimlar2)
mac2

madrid       1
arsenal      1
barcelona    3
milan        3
dtype: int64

mac1+mac2 yaparsak hata alır mıyız ?

In [131]:
mac1 + mac2

arsenal      2.0
barcelona    NaN
chelsea      NaN
liverpool    NaN
madrid       4.0
milan        NaN
dtype: float64

Görüldüğü üzere böyle bir durumda toplama işlemi ya da diğer matematiksel işlemler iki farklı serideki kesişen labellar var ise onlara uygulanıyor kesişmeyen değerler için de NaN(Not a Number)veriyor,böyle bir değer yok diyor yani.

## DataFrames

Pandas DataFrame, 2 boyutlu bir array veya satırlar ve sütunlar içeren bir tablo gibi 2 boyutlu bir veri yapısıdır.

kendi df'imizi  oluşturabiliriz hazır olan df'leri de kullanabiliriz kendimiz nasıl df oluştururuz örnek:

pd.DataFrame() ile kendi df'mimizi oluşturalım

In [84]:
data = {
  "mesafe(m)": [100,200,400],
  "süre": [15,32,58]
}

df = pd.DataFrame(data)                 
df

   mesafe(m)  süre
0        100    15
1        200    32
2        400    58

peki ben sadece dict'le mi oluşturabilirim ? hayır : boyut önemli df oluşturmak için

In [83]:
data2 = [[1,2,3],[4,5,6],[7,8,9]]
df2 = pd.DataFrame(data)
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

ama şimdilik dictle oluşturmam daha mantıklı geldi bana.

## istediğimiz satırı getirme

bunun için loc attribute'nu kullanacağız :        (locate)

In [132]:
data = {
  "mesafe(m)": [100,200,400],
  "süre": [15,32,58]
}

df = pd.DataFrame(data)
df

   mesafe(m)  süre
0        100    15
1        200    32
2        400    58

In [54]:
df.loc[1]

mesafe(m)    200
süre          32
Name: 1, dtype: int64

In [55]:
df.loc[2]

mesafe(m)    400
süre          58
Name: 2, dtype: int64

Not: Bu iki örnek bir Panda Serisi döndürür. peki bunu nasıl anlarım:

In [86]:
a = df.loc[2]

In [57]:
a["süre"]

58

In [69]:
type(a)

pandas.core.series.Series

## peki ben sonucunda bir df olmasını istiyorsam ne yapmalıyım?

In [59]:
df

   mesafe(m)  süre
0        100    15
1        200    32
2        400    58

In [61]:
df.loc[[1]]         #  bir köşeli parantez daha kullanmalıyım

   mesafe(m)  süre
1        200    32

In [73]:
b = df.loc[[0,2]]  
b

   mesafe(m)  süre
0        100    15
2        400    58

In [74]:
type(b)

pandas.core.frame.DataFrame

tıpkı series de olduğu gibi df 'de de indexlerimizi isimlendirebiliriz.

In [89]:
data = {
  "mesafe(m)": [100,200,400],
  "süre": [15,32,58]
}

df = pd.DataFrame(data,["x","y","z"])
df

   mesafe(m)  süre
x        100    15
y        200    32
z        400    58

In [90]:
df.loc["x"]

mesafe(m)    100
süre          15
Name: x, dtype: int64

Pandas, csv, excel vb. gibi çeşitli dosya biçimlerindeki verileri import etmeye,bir df'e yüklemeye izin verir.

## df'i yüklerken   df'in pwd'de olduğuna dikkat edelim

In [64]:
pd.read_csv("vgsalesGlobale.csv")

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [65]:
df = pd.read_csv("vgsalesGlobale.csv",index_col="Name")
df

In [66]:
df.head()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

nameler df'imizin index'i haline geldi dikkat edersek

In [7]:
df.tail()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
Know How 2,16599,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

In [9]:
df.shape

(16598, 10)

In [10]:
df.dtypes

Rank              int64
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

peki df'deki herhangi bir satırı ben nasıl alabilirim ?  mesela 300.satırı görmek istiyorum

In [11]:
df.iloc[299]      # indexler 0'dan başladığı için

Rank                           300
Platform                       PS3
Year                        2008.0
Genre                 Role-Playing
Publisher       Bethesda Softworks
NA_Sales                      2.15
EU_Sales                       1.2
JP_Sales                      0.07
Other_Sales                   0.59
Global_Sales                  4.01
Name: Fallout 3, dtype: object

peki ben bir şey arıyorum ama hangi satırda olduğunu bilmiyorum

In [17]:
a = [10,20,30,40,85,95,10]
a.index(95)

5

In [18]:
df.loc["Pokemon Red/Pokemon Blue"]          
                        # burada şuna da dikkat edelim oyunlar rank sütununa göre sıralanıyor

Rank                       5
Platform                  GB
Year                  1996.0
Genre           Role-Playing
Publisher           Nintendo
NA_Sales               11.27
EU_Sales                8.89
JP_Sales               10.22
Other_Sales              1.0
Global_Sales           31.37
Name: Pokemon Red/Pokemon Blue, dtype: object

peki ben başka bir sütuna göre sıralamak istesem oyunları mesela year sütununa göre

In [20]:
df.sort_values("Year").head()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Checkers,6898,2600,1980.0,Misc,Atari,0.22,0.01,0.0,0.00,0.24
Boxing,2671,2600,1980.0,Fighting,Activision,0.72,0.04,0.0,0.01,0.77
Freeway,5368,2600,1980.0,Action,Activision,0.32,0.02,0.0,0.00,0.34
Defender,1971,2600,1980.0,Misc,Atari,0.99,0.05,0.0,0.01,1.05
Kaboom!,1768,2600,1980.0,Misc,Activision,1.07,0.07,0.0,0.01,1.15

In [21]:
df.sort_values("Year",ascending=False).head()   # en yeniden en eskiye doğru sıralamak istiyorum diyelim ki

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Imagine: Makeup Artist,5959,DS,2020.0,Simulation,Ubisoft,0.27,0.0,0.00,0.02,0.29
Phantasy Star Online 2 Episode 4: Deluxe Package,14393,PS4,2017.0,Role-Playing,Sega,0.00,0.0,0.03,0.00,0.03
Phantasy Star Online 2 Episode 4: Deluxe Package,16244,PSV,2017.0,Role-Playing,Sega,0.00,0.0,0.01,0.00,0.01
Brothers Conflict: Precious Baby,16441,PSV,2017.0,Action,Idea Factory,0.00,0.0,0.01,0.00,0.01
Shin Megami Tensei IV: Final,8295,3DS,2016.0,Role-Playing,Deep Silver,0.03,0.0,0.14,0.00,0.17

## iki sütuna göre sıralama   [    ]  köşeli parantezLE oluyor

In [25]:
df.sort_values(["Year","Genre"]).head()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Freeway,5368,2600,1980.0,Action,Activision,0.32,0.02,0.0,0.00,0.34
Boxing,2671,2600,1980.0,Fighting,Activision,0.72,0.04,0.0,0.01,0.77
Kaboom!,1768,2600,1980.0,Misc,Activision,1.07,0.07,0.0,0.01,1.15
Defender,1971,2600,1980.0,Misc,Atari,0.99,0.05,0.0,0.01,1.05
Bridge,6319,2600,1980.0,Misc,Activision,0.25,0.02,0.0,0.00,0.27

burada önce yıl sonra türe göre bir sıralama yapmış olduk